<div class="container pt-4 mt-5">
    <div class="row mb-4">
        <div class="col-12 d-flex justify-content-between">
            <div class="f-size-25 f-w-600">Lesson Details</div>   
            <div class="view-list c-pointer" routerLink="/admin/lesson/0">Add</div>                     
        </div>
    </div>
    <div class="row element-section p-4">
      <input style="display: none" type="file" (change)="onFileUpload($event)" #selectFile>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="head-shadow">
                        <tr>
                          <th scope="col">Sr. No.</th>
                          <th scope="col">Category</th>
                          <th scope="col" class="col-1">Sub Category</th>                          
                          <th scope="col">Course ID</th>
                          <th scope="col">Course Name</th>
                          <th scope="col">Lesson Number</th>
                          <th scope="col">Lesson Name</th>
                          <th scope="col">Lesson Video</th>
                          <th scope="col" class="col-2">Action</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="lessonData.length == 0">
                          <tr>
                            <td colspan="9">
                                No data found
                            </td>
                          </tr>
                      </tbody>
                      <tbody *ngIf="lessonData.length > 0">
                        <tr *ngFor="let c of lessonData;index as i" class="body-record-class">
                          <th scope="row">{{i+1}}</th>
                          <td>{{c?.Category[0]?.CategoryName}}</td>
                          <td style="word-wrap: break-word;min-width: 115px;max-width: 115px;">{{c?.SubCategory[0]?.SubCategoryName}}</td>                                                 
                          <td>{{c?.CourseId}}</td>                                                 
                          <td>{{c?.Course[0]?.CourseName}}</td>                                                 
                          <td>{{c?.lessionNo}}</td>                                                 
                          <td>{{c?.lessionName}}</td> 
                          <td>
                            <div *ngFor="let img of c?.lessionImage">
                              <div class="text-end c-pointer" (click)="deleteFile(img)">
                                <i class="bi bi-x-circle-fill"></i>
                              </div>
                              <iframe width="300" height="200" 
                              [src]='photoURL(img.file)'>
                              </iframe> 
                            </div>         
                          </td>                                                 
                          <td style="word-wrap: break-word;min-width: 145px;max-width: 145px;">
                            <div class="editbtn mb-2 c-pointer" (click)="openFileUploader(c)"><i class="bi bi-cloud-plus-fill"></i> Upload Image/Video</div>
                            <div class="editbtn c-pointer mb-2" (click)="edit(c)"><i class="bi bi-pencil-fill"></i> Edit</div>
                            <div class="deletebtn c-pointer" (click)="delete(c)"><i class="bi bi-trash3-fill"></i> Delete</div>
                          </td>
                        </tr>                        
                      </tbody>                    
                </table>
              </div>           
        </div>
    </div>
</div>
<button #deleteConfirmationModal [hidden]="true" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">Open Modal</button>
<div class="modal fade" id="deleteConfirmationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header modal-header-custom">
        <h5 class="modal-title modal-title-custom" id="staticBackdropLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #btnDeleteCnfClose></button>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-12">Are you sure, you want to delete these lesson?</div>
          </div>
          <div class="row mt-4">
              <div class="col-12">
                <div class="footer-buttons">
                    <button type="button" class="btn btn-primary search-btn margin-r-10 hover-override" (click)="openDialog('delete')">Delete</button>
                    <button type="button" class="btn btn-link dwnld-btn hover-override" (click)="openDialog('cancel')" >Cancel</button>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>