<form [formGroup]="loginForm">
    <div class="left-container">
      <h2>Reset Password</h2>
      <!-- <p>It's not long before you embark on this journey!</p> -->
    
      <!-- <mat-label>Old Password</mat-label>
      <mat-form-field appearance="fill">
        <input matInput placeholder="8+ Characters, 1 Capital letter" type="password" formControlName="oldpassword">
      </mat-form-field> -->
    
      <mat-label>Password</mat-label>
      <mat-form-field appearance="fill">
        <input matInput placeholder="8+ Characters, 1 Capital letter" type="password" formControlName="newpassword">
      </mat-form-field>

      <mat-label>Confirm Password</mat-label>
      <mat-form-field appearance="fill">
        <input matInput placeholder="8+ Characters, 1 Capital letter" type="password" formControlName="confirmpassword">
      </mat-form-field>
    
    <!-- <div class="forgot-link">
      <a href="javascript:void(0);" routerLink="/login/forgot"> Forgot Password </a>
    </div> -->
    <div class="sign-in">
    <button mat-button class="ternary-btn sign-in-btn-cls" (click)="resetPassword()">Reset Password</button>
    
    </div>
    
    
    </div>
    </form>