<div class="container pt-4 mt-5">
    <div class="row mb-4">
        <div class="col-12 d-flex justify-content-between">
            <div class="f-size-25 f-w-600">Course Category Details</div>
            <div class="view-list c-pointer" routerLink="/admin/category/0">Add</div>            
        </div>
    </div>
    <div class="row element-section p-4">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="head-shadow">
                        <tr>
                          <th scope="col">Sr. No.</th>
                          <th scope="col">Category</th>
                          <th scope="col">Status</th>                          
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="ccategoryData.length == 0">
                          <tr>
                            <td colspan="4">
                                No data found
                            </td>
                          </tr>
                      </tbody>
                      <tbody *ngIf="ccategoryData.length > 0">
                        <tr *ngFor="let c of ccategoryData;index as i" class="body-record-class">
                          <th scope="row">{{i+1}}</th>
                          <td>{{c?.CategoryName}}</td>
                          <td>{{c?.CategoryStatus? "Active":"Inactive"}}</td>                                                 
                          <td>
                            <span class="editbtn margin-r-10 c-pointer" (click)="edit(c)"><i class="bi bi-pencil-fill"></i> Edit</span>
                            <span class="deletebtn c-pointer" (click)="delete(c)"><i class="bi bi-trash3-fill"></i> Delete</span>
                          </td>
                        </tr>                        
                      </tbody>                    
                </table>
              </div>           
        </div>
    </div>
</div>
<button #deleteConfirmationModal [hidden]="true" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">Open Modal</button>
<div class="modal fade" id="deleteConfirmationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header modal-header-custom">
        <h5 class="modal-title modal-title-custom" id="staticBackdropLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #btnDeleteCnfClose></button>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-12">Are you sure, you want to delete these course category?</div>
          </div>
          <div class="row mt-4">
              <div class="col-12">
                <div class="footer-buttons">
                    <button type="button" class="btn btn-primary search-btn margin-r-10 hover-override" (click)="openDialog('delete')">Delete</button>
                    <button type="button" class="btn btn-link dwnld-btn hover-override" (click)="openDialog('cancel')" >Cancel</button>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>