<div class="row mt-4 mar-l-1-p padding-l-25">
    <div class="col-12 f-size-25 f-w-600">
        Dashboard
    </div>
</div>
<div class="row mt-3 mar-l-1-p padding-l-25">
    <div class="col-12 col-sm-3">
        <div class="card mb-3">
            <div class="row g-0">                
                <div class="col-12">
                    <div class="card-body">
                        <p class="card-text title-text fw-bold">
                            TOTAL USER REGISTER                            
                        </p>
                        <p class="card-text room-availability d-flex align-items-center justify-content-between">
                            <span>{{totalUSerRegister}}</span>                            
                            <span class="text-success fw-bold"><i class="bi bi-arrow-up-circle"></i></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3">
        <div class="card mb-3">
            <div class="row g-0">                
                <div class="col-12">
                    <div class="card-body">
                        <p class="card-text title-text fw-bold">
                            TOTAL USER ENROLLED                            
                        </p>
                        <p class="card-text room-availability d-flex align-items-center justify-content-between">
                            <span>{{totalUserEnrolled}}</span>                            
                            <span class="text-success fw-bold"><i class="bi bi-arrow-up-circle"></i></span>
                        </p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3">
        <div class="card mb-3">
            <div class="row g-0">                
                <div class="col-12">
                    <div class="card-body">
                        <p class="card-text title-text fw-bold">
                            TOTAL COURSES ADDED                            
                        </p>
                        <p class="card-text room-availability d-flex align-items-center justify-content-between">
                            <span>{{totalCourseAdded}}</span>                            
                            <span class="text-success fw-bold"><i class="bi bi-arrow-up-circle"></i></span>
                        </p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <div class="col-12 col-sm-3">
        <div class="card mb-3">
            <div class="row g-0">                
                <div class="col-12">
                    <div class="card-body">
                        <p class="card-text title-text fw-bold">
                            PAYMENT COLLECTED
                        </p>
                        <p class="card-text room-availability d-flex align-items-center justify-content-between">
                            <span>Rs. 0</span>                            
                            <span class="text-success fw-bold"><i class="bi bi-arrow-up-circle"></i></span>
                        </p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<div class="row mt-3 mar-l-1-p padding-l-25">
    <div class="col-12 col-sm-3">
        <div class="card mb-3">
            <div class="row g-0">                
                <div class="col-12">
                    <div class="card-body">
                        <p class="card-text title-text fw-bold">
                            Courses Status Today
                        </p>
                        <div class="progress bg-primary mt-3 mb-3">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                        <div class="progress bg-danger mt-3 mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                        <div class="progress bg-warning mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>     
                        <div>
                            <span class="me-2 text-primary"><i class="bi bi-circle-fill me-1"></i> Pending</span>
                            <span class="me-3 text-danger"><i class="bi bi-circle-fill me-1"></i> Done</span>
                            <span class="text-warning"><i class="bi bi-circle-fill me-1"></i> Finish</span>
                        </div>                  
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>

